body {
    background-color: #D9E6F6;
}
.menu{
position: absolute;
width: 1366px;
height: 48px;
left: 0px;
top: 0px;

background: #5C9ECF;
}
.cor2{
background-color:#DFEFFF;
position: absolute;
width: 147px;
height: 190px;
left: 7px;
top: 157px;
}
.retangulo{
    z-index: 1;

}
.menu{
    display: inline;
    color:#FFFFFF;
    position:absolute;
   
}
.topnav{
    display: flex;
    position: absolute;
    top: 5px;
}
.topnav input{
background: white;
flex:1;
border:0;
outline: none;

}
.topnav img{
   position: absolute;
    height: 20px;
   width: 20px;
   left:1296px;
   top:8px;
}
#butao{
    position: relative;
    top:10px;
    width: 0%;
    height: 10px;
    color:azure;
    left: 1290px;
    
    
   
}
#pesquisa{
    position: absolute;
    width: 100px;
    left: 1182px;
    top: 10px;
}
.manipular{
    position: absolute;
    top:13px;
    
    

}
.sidemenu,.bv ,.categoria, .depoimentos{
    background-color: #FFFFFF;
}

.depoimentos{
position: absolute;
width: 618px;
height: 231px;
left: 298px;
top: 301px;
border-radius: 8px;
}
.depoimentos #depoimentosss{
    position:absolute;
    top:-19px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    padding-left: 20px;

    /* gray1 */

    color: #333333;

}
#markname{
    position: absolute;
    left: 8px;
    top: -5px;
    
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    height: 14px;
    color:#333333;
    
}
#markcom{
    position: absolute;
    height: 14px;
    left: 13px;
    top: 16px;
    
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;

}
.corazull{
background-color: #DFEFFF;
top: 100px;
position: absolute;
width: 475px;
height: 132px;
left: 442px;
top: 343px;


}
#markcomm{
    position: absolute;
    height: 14px;
    left: 13px;
    top: 73px;
    
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;

}
.depoimentos img{
display: inline;
position:absolute;
top:43px;
left:14px;

    width: 130px;
height: 130px;

}
#visualizacoes {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    padding-left: 20px;

    /* gray1 */

    color: #333333;

}
#visualizacoess {
    position: absolute;
    width: 566px;
    height: 15px;
    left: 24px;
    top: 119px;

    /* body - regular - 14 */

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* gray3 */

    color: #999999;
}
#sorte {
    position:absolute;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    left: 20px;
    top: 135px;
    

    /* gray1 */

    color: #333333;

}
.categoria p6{
    position: absolute;
width: 70px;
height: 14px;
left: 22px;
top: 60px;

font-family: 'Rubik';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* gray2 */

color: #5A5A5A;
}

.categoria p7{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 22px;
    top: 76px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;
}
#fotos{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 94px;
    top: 60px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
}
#fotoss{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 94px;
    top: 76px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;
}
#fotoscomigo{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 146px;
    top: 60px;
    white-space: nowrap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
}
#fotosscomigo{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 168px;
    top: 76px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;
}

#fas{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 250px;
    top: 60px;
    white-space: nowrap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
}
#fass{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 244px;
    top: 76px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;
}

#mensagens{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 292px;
    top: 60px;
    white-space: nowrap;
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
}
#mensagenss{
    position: absolute;
    width: 70px;
    height: 14px;
    left: 307px;
    top: 76px;
    
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    /* gray2 */
    
    color: #5A5A5A;
}

.sidemenu{
    position: absolute;
    width: 160px;
    height: 345px;
    left: -170px;
    top: 0px;
    border-radius: 8px 8px 8px 8px;


}

.sidemenu img{
position: absolute;
width: 130px;
height: 130px;
left: 15px;
top: 18px;
border-radius: 8px;
}
.sidemenu hr{
    position: absolute;
    top:149px;
    left:7px;
    width: 145px;
    height: 0px;
    
    border: 1px;
    color: gray;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

}
#linperfil,#linrecado,#linfotos,#linvideos,#lindepoimentos,#linatualizacoes
{
    color:#333333;
}
#perfill{
    top: 177px;
}
#recadoss{
    top:209px;
}
#linfotoss{
top:239px;

}
#linvideoss{
    top:270px;
}
#lindepoimentoss{
    top:298px;
}
#linatualizacoess{
    top: 328px;
}
.sidemenu p2{
   /* body - regular - 14 */
   position: absolute;
    display:block;
   font-family: 'Verdana';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   /* identical to box height */
  
   margin: 0;
   padding: 0;
   line-height: 1.2;
    left: 10px;

    top:165px;
   
   /* gray3 */

   color: #999999;
}

#linperfil {
    top: 165px;
}

#linrecado {
    top: 195px;
}

#linfotos {
    top: 225px;
}

#linvideos {
    top: 255px;
}

#lindepoimentos {
    top: 285px;
}

#linatualizacoes {
    top: 315px;
}


.bv {

    position: absolute;
    width: 618px;
    height: 217px;
    left: 298px;
    top: 72px;
    border-radius: 8px 60px 8px 8px;
}

.bv p {

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    padding-left: 20px;

    /* gray1 */

    color: #333333;

}

.bv p3 {
    position: absolute;
    width: 566px;
    height: 15px;
    left: 24px;
    top: 165px;

    /* body - regular - 14 */

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    /* gray3 */

    color: #999999;
}

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}